html,
body,
#map-restaurants {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .one-star {
  color: black;
}

.legend .one-half-star {
  color: red;
}

.legend .two-star {
  color: darkorange;
}

.legend .two-half-star {
  color: orange;
}

.legend .three-star {
  color:yellow;
}

.legend .three-half-star {
  color: lightgreen;
}

.legend .four-star {
  color: green;
}

.legend .four-half-star {
  color: cyan;
}

.legend .five-star {
  color: blue;
}